name: information-systems-labs

services:
  app:
    image: ${APP_IMAGE}:${IMAGE_TAG}
    pull_policy: always
    container_name: information-systems-labs
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${PUBLIC_PORT}:8080"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  web:
    image: ${WEB_IMAGE}:${IMAGE_TAG}
    pull_policy: always
    container_name: information-systems-labs-web
    restart: always
    depends_on:
      - app
    ports:
      - "${WEB_PUBLIC_PORT}:80"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  db:
    image: postgis/postgis:16-3.4
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"

volumes:
  db_data:
    name: information-systems-labs-postgres
